<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Taller Apps</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="brand">
        <span class="brand-dot"></span>
        Taller Apps
      </div>

      <div class="navlinks">
        <a href="/index">Inicio</a>
        <a href="/sobrenosotros">Crear tarea</a>
        <a href="/tareas">Ver tareas</a>
      </div>
    </div>

    {% block contenido %}{% endblock %}
  </div>
</body>
</html>